.red{
    height: 100px;
    background-color: red;
    color: white;
    font-family:sans-serif;
    text-align: center;
    padding: 1%;
    font-size: 30px;
    margin:0%;
    float: center;
}
.green{
    height:50px;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.black {
float: right;
    background-color:black;
    width: 275px;
    margin-left:10px;
    margin-right: 12%;
    padding: 1px;
    height: 275px;
}
.blue {
    float: right;
    background-color: blue;
    width: 275px;
    margin: 1px;
    padding: 1px;
    height: 275px;
    margin-right: 2%;
    margin-bottom: 10%;
}
.yelow {

    background-color:yellow;
    width: 550px;
    margin-left: 10%;
    padding: 1px;
    height: 430px;
}
.pink{
    background-color: fuchsia;
    width: 275px;
    height: 275px;
    float:right;
    margin-right: 12%;
    margin-left:2.5%;
    margin-bottom: 10%;

   
}
.purple{
    background-color: purple;
    width: 275px;
    height: 275px;
    float:right;
   }
   .gray{
       height: 150px;
       background-color: lightgrey;
       float:left;
       margin-top: 10%;
       width: 100%;
       color:red;
       font-style: sans-serif;
   }