* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
body{
    margin: 50px;
    background-image:url(vscode/BG.png)
}
    .main-container{
        height:523px;
        width:370px;
        border:1px black solid;
        background-color:white;
        border-radius:15px;
        overflow: hidden;
        }
        .top{
            height: 372px;
            width:370px;
            background-image: url(vscode/headphones.png);
            border-radius:15px 15px 0px 0px;
        }
        .dolari {
            display: flex;
            flex-direction: row;
            padding: 38px 0px 0px 258px;
        }
        .plav{
            width: 111px;
            height: 46px;
            color:white;
            background-color: #4286f4;
            border-radius:15px 0px 0px 15px;
            display: flex;
            flex-direction: row;
        }
        .dol{
            color:white;
            font-size:25px;
            padding:11px 0px 0px 24px;
        }
        .dol .span{
            padding:11px 0px 0px 8px;
        }
        /* .dol{
            color:white;
            font-size:25px;
            padding:11px 0px 0px 8px;
        } */

        /* .middle{
            height: 44px;
            width: 370px;
            display: flex;
            flex-direction: row;
            margin: 257px 0px 0px 0px;
            background-color:transparent;
        } */
       .ikoni{
           /* width:91px;
           height:28px; */
           padding:14px 0px 24px 256px;
           display:flex;
           }
           .shop{
               width: 15px;
               height: 15px;
               background-image:url(vscode/Shop.png);
               flex:row;
               margin-top: 240px;
           }
           .star{
            background-image:url(vscode/Star.png);
            width: 15px;
            height: 15px;
            flex:row;
            margin-left: 23px;
            margin-top: 240px;
        }
           .menu{
               background-image: url(vscode/Menu.png);
               width: 3.5px;
               height: 15px;
               flex:row;
               margin-top:240px;
               margin-left: 23px;
           }
        .bottom{
            width:370px;
            height:151px;
            background-color: darkslategray;
            color:white;
            border-radius:0px 0px 15px 15px;
            display: flex;
            flex-direction: column;
           
        }
        .zolto{
            color:#edec93;
            font-size:30px;
            padding:35px 0px 0px 39px;
            font-style:roboto;
        }
        .belo{
            color:white;
            font-size:12px;
            padding:15px 0px 0px 35px;
            font-style:roboto;
        }
        .boo{
            color:white;
            font-size:12px;
            padding:6px 0px 0px 35px;
            font-style:roboto;
        }